{% extends '/base.html.twig' %}
    {% block title %}
        <title>{{ article.title }}</title>
    {% endblock %}
    {% block main %}
        {% if article.isPublished %}
            <article class="pageversion">
               {% include 'admin/_article.html.twig' %}
                <p>{{ article.content }}</p>
                {# <img src="{{ article.image }}" alt="image"> #}
            </article>
        {% else %}
            <p>Cet article n'est pas encore publié</p>
        {% endif %}
    {% endblock %}
    {% block footer %}
        <p>Je suis le footer de la page article solo</p>
    {% endblock %}