{% extends 'base.html.twig' %}
    {% block title %}
        <title>{{category.title}}</title>
    {% endblock %}
    {% block main %}
            <article class="pageversion"style="background-color: {{ category.color }}" class="homeversion">
                {% for article in category.articles %}
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.content }}</p>
                {% endfor %}
            </article>
    {% endblock %}
    {% block footer %}
        <p>Je suis le footer d'une catégorie</p>
    {% endblock %