{% extends '/base.html.twig' %}

{% block main %}
  {#  <form action="{{ path('admin-insert-category') }}" method="get">
        <label for="title">Titre</label>
        <input type="text" name="title">

        <label for="description">Description</label>
        <input type="text" name="description">

        <label for="color">Couleur</label>
        <input type="color" name="color">

        <label for="submit">Envoyer</label>
        <input type="submit">
    </form>#}

    {{ form(form) }}
{% endblock %}
{% block footer %}
    <p>je suis le footer de la page de création de catégories</p>
{% endblock %}
