{% extends '/base.html.twig' %}

{% block main %}
    <form action="{{ path('admin-insert-article') }}" method="get">
        <label for="title">Titre</label>
        <input type="text" name="title">

        <label for="content">Description</label>
        <input type="text" name="content">

        <label for="author">Auteur</label>
        <input type="text" name="author">

        <label for="submit">Envoyer</label>
        <input type="submit">
    </form>
{% endblock %}
{% block footer %}
    <p>Je suis le footer de la page de création d'article</p>
{% endblock %}