{% extends "/base.html.twig" %}

{%block title %}
<title>Articles</title>
{% endblock %}

{% block main %}
    {% for article in article %}
        {% if article.isPublished %}
            <article class="homeversion">
               {% include "admin/_article.html.twig" %}
                <a href="{{ path('admin-article', {'id': article.id}) }}">Lire l'article</a>
            </article>
        {% else %}
            <p>Cet article n'est pas encore publié</p>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block footer %}
    <p>Je suis le footer de la page des articles</p>
{% endblock %}

