@media screen and (max-width: 640px) {
  .desktop-menu {
    display: none;
  }
  .nav-toggler {
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }
  nav {
    position: fixed;
    width: 50vw;
    min-height: 100vh;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: dodgerblue;
    border-left: 1px solid #cfcfcf;
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
  }
  nav.active {
    transform: translate(0);
  }
  nav a {
    font-family: Quicksand, sans-serif;
    color: #f1f1f1;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
  }
  .line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #5eb5e0;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
  }
  .l1 {
    transform: translateY(-10px);
  }
  .l3 {
    transform: translateY(10px);
  }
  .nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
  }
  .nav-toggler.active .l2 {
    opacity: 0;
  }
  .nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5eb5e0;
}

h2 {
  font-family: "Arial Black";
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-family: Arial;
}

header {
  width: 100%;
  background-color: dodgerblue;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 20px;
}

header > nav > ul > li > a {
  font-family: "Arial Black";
  color: navy;
  text-transform: uppercase;
}

.night-activated {
  background-color: black;
}

.night-activated p {
  color: white;
}

.night-activated header {
  background-color: gray;
}

.night-activated .homeversion {
  background-color: gray;
}

.night-activated nav {
  background-color: black;
}

.desktop-menu {
  display: none;
}

.nav-toggler {
  position: fixed;
  z-index: 10;
  top: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

nav {
  position: fixed;
  width: 50vw;
  min-height: 100vh;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: dodgerblue;
  border-left: 1px solid #cfcfcf;
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
}

nav.active {
  transform: translate(0);
}

nav a {
  font-family: Quicksand, sans-serif;
  color: #f1f1f1;
  font-size: 20px;
  display: block;
  margin: 10px 0;
  text-decoration: none;
}

.line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #5eb5e0;
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

.l1 {
  transform: translateY(-10px);
}

.l3 {
  transform: translateY(10px);
}

.nav-toggler.active .l1 {
  transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2 {
  opacity: 0;
}

.nav-toggler.active .l3 {
  transform: translateY(0px) rotate(-135deg);
}

.flexible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeversion {
  width: 60%;
  border: solid blue 1px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  margin: auto;
  margin-top: 5vh;
}

.pageversion {
  width: 80%;
  border: solid blue 2px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  margin: auto;
  margin-top: 10vh;
}

.pageversion > img {
  height: 50%;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-family: "Arial Black";
}

input {
  width: 50vh;
  height: 4vh;
  border: solid 1px blue;
  border-radius: 5px;
}

button {
  margin-top: 2vh;
  height: 4vh;
  width: 10vh;
}

.bouton {
  display: inline-block;
  font-family: "Arial Black";
  text-decoration: none;
  border: solid 1px navy;
  border-radius: 3px;
  background-color: white;
  color: blue;
  padding: 10px;
  margin-left: 87vh;
  margin-top: 5vh;
}

.form-group {
  width: 80vw;
}

.bouton:hover {
  background-color: blue;
  color: white;
}

/*# sourceMappingURL=style.css.map */
