header {
  width: 100%;
  background-color: $secondary-color;
}


ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 20px ;
}

header > nav > ul > li > a{
  font-family: "Arial Black";
  color: navy;
  text-transform: uppercase;
}

.night-activated {
  background-color: black;
}

.night-activated p {
  color: white;
}

.night-activated header {
  background-color: gray;
}

.night-activated .homeversion{
  background-color: gray;
}

