{% extends "base.html.twig" %}

    {% block title %}
    <title>Accueil</title>
    {% endblock %}

    {% block main %}
        {% for article in lastArticles %}
        <article class="homeversion">
            {% include 'admin/_article.html.twig' %}
            <a href="{{ path('admin-articles', {'id': article.id}) }}">Lire l'article</a>
        </article>
        {% endfor %}
    {% endblock %}

     {% block footer %}
         <p>Je suis le footer de la page d'acceuil</p>
     {% endblock %}
